{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                      <h1>Forgot password </h1>
                        {% if error is defined and not error is empty %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endif %}

                        {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            <div> OR </div>
                            {{ form_row(form.phone) }}

                            <div class="forgot" style="height:20px">
                                <a style="float:left" href="{{ path('login') }}">Login</a>
                                <a style="float:right" href="{{ path('registration') }}">Registration</a>
                            </div>

                            <div class="auth-btn-section">
                                <button type="submit" id="form_submit" name="form[submit]" class="btn btn-small btn-primary">Send</button>
                            </div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}


