{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{% block body %}
<div id="out"></div>
<hr/>
<div>
    <div>Предмет: {{ lesson.subject.name }}</div>
    <div>Конспект лекций: <a href="{{ vich_uploader_asset(lesson, 'documentFile') }}">скачать</a></div>
    <!--
    <div>Конспект лекций: <a href="{{ vich_uploader_asset(lesson, 'documentLabFile') }}">скачать</a></div>
    <div>Лабораторная работа: <a href="{{ vich_uploader_asset(lesson, 'documentLabFile') }}">скачать</a></div>
    <div>Лабораторная работа: <a href="{{ vich_uploader_asset(lesson, 'documentLabFile1') }}">скачать</a></div>
    <div>Лабораторная работа: <a href="{{ vich_uploader_asset(lesson, 'documentLabFile2') }}">скачать</a></div>
    <div>Лабораторная работа: <a href="{{ vich_uploader_asset(lesson, 'documentLabFile3') }}">скачать</a></div>
    -->
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/index.js') }}"></script>
{% endblock %}
